---
import Layout from "../layouts/ShellLayout.astro";
import Component from "../components/Component.astro";
---

<Layout>

	<main id="main">
		<h1>blue h1 in index.astro</h1>
		<Component />
	</main>

	<footer>
	</footer>
</Layout>

<style>
	h1 {
		color: blue;
	}
</style>