---
import Layout from "../layouts/ShellLayout.astro";

---

<Layout>
	<main id="main">
		<h1>blue h1 in index.astro</h1>
		<a href="/page">go to page</a>
	</main>

	<footer>
	</footer>
</Layout>

<style>
	h1 {
		color: blue;
	}
</style>