---
import Layout from "../layouts/ShellLayout.astro";
import Component from "../components/Component.astro";
---

<Layout>
	<h1>scoped blue h1 in page.astro</h1>
	<Component />
	<a href="/">go to index</a>
</Layout>

<style>
	h1 {
		color: blue;
	}
</style>